

<!-- ============ RESUME START ============ -->


<div class="container">
  <%= simple_form_for(profile) do |f| %>
    <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<!-- Resume Details Start -->
    <div class="row">
      <div class="col-sm-6">
        <h2>Resume details</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'eg. John Doe', class: 'form-control', id: 'resume-name-group' %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
            <%= f.input :image, as: :file, class: 'form-control', id: 'resume-photo-group'  %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" >
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: 'eg. Web Developer', class: 'form-control', id: 'resume-title-group' %>
        </div>
      </div>
      <div class="col-sm-6">
        <%= f.input :resume_file, as: :file, class: 'form-control', id: 'resume-photo-group'  %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" >
          <%= f.label :address %>
          <%= f.text_area :address, id: 'address',class: 'form-control', name: 'address', onFocus: "geolocate()", placeholder: "Eg. 85 Droop Street, Footscray"%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group" id="resume-content-group">
          <label>Resume Content</label>
          <label for="resume-content">Resume Content</label>
          <div class="textarea form-control" id="resume-content"></div>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
        <!-- Resume Details End -->
