

<!-- ============ RESUME START ============ -->


<div class="container">
  <%= simple_form_for(profile) do |f| %>
    <% if profile.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h3><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h3>

        <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<!-- Resume Details Start -->

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <% if current_user.role == 'company' %>
          <%= f.label :name, 'Company Name' %>
          <%= f.text_field :name, placeholder: 'eg. Coder Factory', class: 'form-control', id: 'resume-name-group' %>
          <% elsif current_user.role == 'candidate' %>
            <%= f.label :name %>
            <%= f.text_field :name, placeholder: 'eg. John Doe', class: 'form-control', id: 'resume-name-group' %>
          <% end %>

        </div>
      </div>
      <% if current_user.role == 'candidate' %>
        <div class="col-sm-6">
          <div class="form-group">
              <%= f.input :image, as: :file, class: 'form-control', id: 'resume-photo-group'  %>
          </div>
        </div>
      <% elsif current_user.role == 'company' %>
      <div class="col-sm-6">
        <div class="form-group">
            <%= f.label :image, 'Company logo' %>
            <%= f.input :image , as: :file, class: 'form-control', id: 'resume-photo-group'   %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" >
          <% if current_user.role == 'company' %>
            <%= f.label :title, 'Tag line' %>
            <%= f.text_field :title, class: 'form-control', id: 'resume-title-group' %>
          <% elsif current_user.role == 'candidate' %>
            <%= f.label :title %>
            <%= f.text_field :title, placeholder: 'eg. Web Developer', class: 'form-control', id: 'resume-title-group' %>
          <% end %>
        </div>
      </div>
      <% if current_user.role == 'candidate' %>
      <div class="col-sm-6">
        <%= f.input :resume_file, as: :file, class: 'form-control', id: 'resume-photo-group'  %>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" >
          <%= f.label :address %>
          <%= f.text_field :address, onFocus: "geolocate()", id: 'address',class: 'form-control'  %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" >
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control'%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group" id="resume-content-group">
          <% if current_user.role == 'company' %>
            <%= f.label :description, 'Company Details' %>
          <% elsif current_user.role == 'candidate' %>
            <%= f.label :description, 'Resume Content' %>
          <% end %>
          <%= f.text_area :description, id: 'resume-content',class: 'form-control', rows: 5%>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
        <!-- Resume Details End -->
