<!-- ============ TITLE START ============ -->

  <section id="title">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1><%= @profile.name %></h1>
          <h4><%= @profile.title %></h4>
          <div class="text-center">
            <% if user_signed_in? %>
              <% if current_user == @profile.user %>
              <%= link_to 'Edit Profile', edit_profile_path(@profile), class: 'btn btn-danger pull-right', method: :get %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ============ TITLE END ============ -->

  <!-- ============ CONTENT START ============ -->

	<section id="jobs">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<article>
            <% if @profile.user.role == 'company' %>
              <h2>About this company</h2>
            <% elsif @profile.user.role == 'candidate' %>
              <h2>About Me</h2>
            <% end %>

            <div class="col-sm-12">

              <%= image_tag @profile.image_url(), class: 'pull-left profile-image', alt: "#{@profile.name}'s photo'" %>

  						<p><%= markdown @profile.description %></p>
            </div>

            <% if @profile.user.role == 'candidate' %>
              <div class="col-sm-12">
                <h3>Work Experience</h3>
                <%= render 'profiles/work_experience' %>
              </div>
              <div class="col-sm-12">
                <h3>Education</h3>
                <%= render 'profiles/school' %>
              </div>
              <div class="col-sm-12">
                <p><%= link_to @profile.resume_file_url, class: 'btn btn-primary btn-lg',target: "_blank" do %>
                  <span><i class="fa fa-arrow-down" aria-hidden="true"></i> Download Resume<span>
                <% end %></p>
              </div>
            <% elsif @profile.user.role == 'company' && @profile.user.jobs.present? %>
              <div class="col-sm-12">
                <h2>Jobs from this company</h2>
                <ul class="list-unstyled">
                  <% @profile.user.jobs.each do |job| %>
                    <li><h5><%= link_to "#{job.position}", job_path(job), method: :get %></h5></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </article>
        </div>
        <div class="col-sm-4" id="sidebar">
          <%= render 'profiles/social_network' %>
          <hr>
          <%= render 'profiles/contact' %>
          <% if @profile.user.role == 'candidate' %>
            <hr>
            <%= render 'profiles/skills' %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
