<!-- ============ TITLE START ============ -->

  <section id="title">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1><%= @profile.name %></h1>
          <h4><%= @profile.title %></h4>
        </div>
      </div>
    </div>
  </section>

  <!-- ============ TITLE END ============ -->

  <!-- ============ CONTENT START ============ -->

	<section id="jobs">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<article>
						<h2>About Me</h2>
            <%= image_tag @profile.image_url(:thumb), class: 'pull-left', alt: "#{@profile.name}'s photo'" %>
						<p><%= @profile.description %></p>
            <h3>Work Experience</h3>
            <%= render 'profiles/work_experience' %>
            <h3>Education</h3>
            <%= render 'profiles/school' %>
            <p>&nbsp;</p>
            <p><%= link_to @profile.resume_file_url, class: 'btn btn-primary btn-lg',target: "_blank" do %>
              <span><i class="fa fa-arrow-down" aria-hidden="true"></i> Download Resume<span>
            <% end %></p>
          </article>
        </div>
        <div class="col-sm-4" id="sidebar">
          <%= render 'profiles/social_network' %>
          <hr>
          <%= render 'profiles/contact' %>
          <hr>
          <%= render 'profiles/skills' %>
        </div>
      </div>
    </div>
    <div>
      <%= link_to 'Edit Profile', edit_profile_path(@profile), class: 'btn btn-danger pull-right', method: :get %>
    </div>
  </section>
