<%= link_to conversation_path(conversation), method: :get do %>
  <div class="media">
    <div class="media-left">
        <%= conversation.originator.profile.image_url(:thumb) %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= conversation.originator.profile.name %> <br>
        <small><b>Subject: </b><%= conversation.subject %></small><br>
        <small><b>Date: </b><%=  time_ago_in_words(conversation.messages.last.created_at)%></small>
      </h4>
      <%= truncate conversation.messages.last.body, length: 145 %>
    </div>
  </div>
<% end %>
