<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media pull-right">
      <div class="media-left">
        <%= image_tag message.sender.profile.image_url(:thumb) %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= message.sender.profile.name %> <br>
          <small><b>Subject: </b><%= message.subject %></small><br>
          <small><b>Date: </b><%=  time_ago_in_words(message.created_at) %></small>
        </h4>
        <p><%= message.body %></p>
      </div>
    </div>
<% end %>
