<section id="title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Candidates</h1>
        <h4>Find your perfect match</h4>
      </div>
    </div>
  </div>
</section>
<div class="sidebar-widget" id="jobsearch">
<form>
<div class="row">
  <div class="col-xs-6 col-xs-offset-1">
    <h2>Find a Candidate</h2>
  	<div class="form-group col-xs-8 col-xs-offset-1" id="job-search-group">
      <%= form_tag jobs_listing_path, :method => 'get' do %>
          <p><%= text_field_tag :search, params[:search], id: 'job-search-group', class: 'form-control', placeholder: 'eg. Front End' %></p>
          <%= submit_tag "Search", class: 'btn btn-primary btn-lg' %>
      <% end %>
      <p><%= link_to "Advanced Search", new_search_path, method: :get %></p>

  	</div>
  </div>
</div>
<section id="jobs">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<h2>Candidates</h2>

					<div class="jobs">
            <% @candidates.each do |c| %>
              <%= link_to  profile_path(c.profile), method: :get do %>
                <div class="feature">
                  <div class="row">
  									<div class="col-xs-3 col-sm-2 col-lg-1">
                      <%= image_tag c.profile.image_url(), class: 'img-responsive', alt: "#{c.profile.name}'s photo'" %>
  									</div>
  									<div class="col-xs-9 col-sm-4 col-md-5 col-lg-4 candidate-name">
  										<h5><%= c.profile.name %></h5>
  										<p><strong><%= c.profile.title %></strong></p>
                      <p class="candidate-date"> Updated <%=time_ago_in_words(c.profile.updated_at)%> ago</p>
  									</div>
  									<div class="hidden-xs col-sm-6 col-md-5 col-lg-4 candidate-location">
  										<p><strong><%= c.profile.address %></strong></p>
  									</div>
  									<div>
  										<p class="candidate-tags">
                        <% c.skills.each do |skill| %>
                          <span class="badge"><%= skill.name %></span>
                        <% end %>
  										</p>
  									</div>
  								</div>
                </div>
              <% end %>
              <% unless current_user == c %>
                <%= link_to 'Send message', new_conversation_path(to: c.id), class: 'btn btn-primary btn-xs', method: :get %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
