
  <%= render 'home/slides' %>

  <!-- ============ JOBS START ============ -->

  <div class="text-center">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#recent-jobs-tab" aria-controls="home" role="tab" data-toggle="tab"> RECENT JOBS </a></li>
				<li role="presentation"><a href="#recent-resumes-tab" aria-controls="profile" role="tab" data-toggle="tab"> RECENT RESUMES</a></li>
			</ul>

      <!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="recent-jobs-tab">
					<section id="jobs">
						<div class="container">
							<div class="row">

								<div class="col-sm-8">


                  <%= render 'home/recent_jobs' %>

								<!-- </div>
                <div class="col-sm-4">
									<h2>Featured Jobs</h2>
										<div class="featured-job">
											<div class="text-center">
												<h5><%= @jobs.first.position %></h5>
												<p><%= @jobs.first.user.profile.name %></p>
											</div>
											<div class="data">
												<span class="city"><i class="fa fa-map-marker"></i><%= @jobs.first.location %></span>
												<span class="type full-time"><i class="fa fa-clock-o"></i><%= @jobs.first.job_type %></span>
											</div>
											<div class="description">
                        <p>
											    <%= truncate(@jobs.first.description, :length => 200) %>
											  </p>
                      </div>
											<div class="text-center">
                        <p>
                          <%= link_to 'Read More', job_path(@jobs.first), class: 'btn btn-primary btn-md', method: :get %>
                        </p>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</section> -->

				</div>
        <div role="tabpanel" class="tab-pane" id="recent-resumes-tab">
          <%= render 'home/recent_candidates' %>
      </div>
    </div>
  </div>

  <!-- ============ CANDIDATES END ============ -->
  <hr>
  <!-- ============ PRICING START ============ -->

		<section id="pricing" class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1>Plans &amp; Pricing</h1>
						<h4>Choose a package that fits your needs</h4>
					</div>
				</div>
				<div class="row pricing">
					<div class="col-sm-4">
						<ul>
							<li class="title">Dev Talent</li>
							<li class="price">$0</li>
							<li>Profile</li>
							<li>Unlimited Job Apply</li>
							<li>Get an instant reply from employer</li>
							<li><%= link_to 'Sign Up', candidate_path,class: 'btn btn-primary', method: :get %></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="popular">
							<li class="title">Dev Company</li>
							<li class="price">$0</li>
							<li>1 job posting $100</li>
							<li>No featured jobs</li>
							<li>Displayed for 1 day</li>
							<li><%= link_to 'Sign Up', company_path,class: 'btn btn-primary', method: :get %></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<li class="title">Enterprise</li>
							<li class="price">$0</li>
							<li>5 job postiong $300</li>
							<li>3 featured jobs</li>
							<li>Displayed for 10 days</li>
							<li><%= link_to 'Sign Up', company_path,class: 'btn btn-primary', method: :get %></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- ============ PRICING END ============ -->

    <!-- ============ TESTIMONIALS START ============ -->
    <%= render 'home/testimonials' %>
    <!-- ============ TESTIMONIALS END ============ -->

    <!-- ============ CONTACT START ============ -->

		<%= render 'home/contact' %>

		<!-- ============ CONTACT END ============ -->
