<h2>Advanced Search</h2>

<%= form_for @search, html: {class: "pure-form"} do |s| %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
    <div class="form-group">
      <%= s.label :job_type %><br />
      <%= s.text_field :job_type, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6 col-sm-offset-2">
    <div class="form-group">
      <%= s.label :position %><br />
      <%= s.text_field :position, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6 col-sm-offset-2">
    <div class="form-group">
      <%= s.label :location %><br />
      <%= s.text_field :location, class: 'form-control' %>
    </div>
  </div>
  <div class="actions col-sm-6 col-sm-offset-2"><%= s.submit "Search", class: "pure-button pure-button-primary btn btn-lg btn-primary" %></div>
</div>
<% end %>
