<h2>Search Results </h2>



<% if @search.search_jobs.empty? %>

  <div class="alert alert-danger text-center" role="alert">No Record Found</div>

<% else %>
<section id="jobs">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="jobs">
          <h3>Search Results for : <%= @search.job_type if @search.job_type.present? %> <%= @search.position if @search.position.present? %> <%= @search.location if @search.location.present? %></h3>
          <% @search.search_jobs.each do |job| %>
            <%= link_to  job_path(job), method: :get do %>
              <div class="feature">
                <div class="row">
                  <div class="col-xs-9 col-sm-4 col-md-5 col-lg-4 candidate-name">
                    <h5><%= job.position %></h5>
                    <p><strong><%= job.user.profile.name %></strong></p>
                    <p class="candidate-date"> Created <%=time_ago_in_words(job.payment.created_at)%> ago</p>
                  </div>
                  <div class="hidden-xs col-sm-6 col-md-5 col-lg-4 candidate-location">
                    <p><strong><%= job.location %></strong></p>
                  </div>
                  <div class="hidden-xs col-sm-6 col-md-5 col-lg-4">
                    <p><strong><%= job.job_type %></strong></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
