
<div class="container">
  <%= simple_form_for(@social) do |f| %>
    <% if @social.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@social.errors.count, "error") %> prohibited this social from being saved:</h2>

        <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<!-- Resume Details Start -->
  <div class="row">
    <div class="col-sm-6">
      <h2>Social Network</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <%= f.label :network %>
          <%= f.select :network, options_for_select(socials), class: 'selectpicker' %>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: 'tanimmahmud', class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
