
<!-- ============ NAVBAR START ============ -->

		<div class="fm-container">
			<!-- Menu -->
			<div class="menu">
				<div class="button-close text-right">
					<a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
				</div>
				<ul class="nav">
          <li><%= link_to 'Home', root_path, method: :get %></li>
          <li><%= link_to 'Jobs', jobs_listing_path, method: :get %></li>
          <li><%= link_to 'Candidates', candidates_path, method: :get %></li>
          <% if user_signed_in? %>
            <% if current_user.role == 'company' %>
							<li><%= link_to 'Post a Job', new_job_path, method: :get %></li>
              <li><%= link_to 'Job Dashboard', jobs_path, method: :get %></li>
            <% end %>
            <% if current_user.profile.present? && current_user.profile.id.present? %>
              <li><%= link_to "#{current_user.profile.name}", profile_path(current_user.profile), method: :get %></li>
            <% end %>
            <% if unread_messages_count > 0 %>
              <li><%= link_to "Inbox (#{unread_messages_count})", inbox_path, method: :get %></li>
            <% else %>
              <li><%= link_to "Inbox", inbox_path, method: :get %></li>
            <% end %>
            <li><%= link_to 'Settings', edit_user_registration_path, method: :get %></li>
						<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign Up', sign_up_path, method: :get %></li>
            <li><%= link_to 'Sign In', new_user_session_path, method: :get %></li>
          <% end %>
				</ul>
			</div>
			<!-- end Menu -->
		</div>

		<!-- ============ NAVBAR END ============ -->
