
<!-- ============ NAVBAR START ============ -->

		<div class="fm-container">
			<!-- Menu -->
			<div class="menu">
				<div class="button-close text-right">
					<a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
				</div>
				<ul class="nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Jobs', jobs_listing_path %></li>
          <li><%= link_to 'Candidate Listing', candidates_path %></li>
          <li><%= link_to 'Company Listing', companies_path %></li>
					<li><a href="post-a-job.html">Post a job</a></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to 'Post a Job', new_job_path %></li>
            <% if current_user.role == 'company' %>
              <li><%= link_to 'Job Dashboard', jobs_path %></li>
            <% end %>
            <% if current_user.profile.present? %>
              <li><%= link_to "#{current_user.profile.name}", profile_path(current_user.profile) %></li>
            <% end %>
            <% if unread_messages_count > 0 %>
              <li><%= link_to "Inbox", inbox_path %><span class="badge"><%=unread_messages_count%></span></li>
            <% else %>
              <li><%= link_to "Inbox", inbox_path %></li>
            <% end %>
            <li><%= link_to 'Settings', edit_user_registration_path %></li>
          <% else %>
            <li><%= link_to 'Sign Up as Candidate', candidate_path %></li>
            <li><%= link_to 'Sign Up as Company', company_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
				</ul>
			</div>
			<!-- end Menu -->
		</div>

		<!-- ============ NAVBAR END ============ -->
