<!DOCTYPE html>
<html>
  <head>
    <title>StripeApp</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/navigations' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <div class="page-header">
        <h1><%= yield :page_header %></h1>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
